{% extends "adminka_index.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Услуга {% if service.title %}&laquo;{{ service.title }}&raquo;{% else %} #{{ service.id }}{% endif %}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/plugins/forms/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/additional-methods.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
{% endblock %}

{% block adminka_menu %}{% include 'adminka_menu.html' with active='home' %}{% endblock %}

{% block page_name %}Услуга {% if service.title %}&laquo;{{ service.title }}&raquo;{% else %} #{{ service.id }}{% endif %}{% endblock %}
{% block page_info %}Услуги{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'ns_adminka:adhome' %}">Главная</a></li>
    <li><a href="{% url 'ns_adminka:ns_services:list' %}">Услуги</a></li>
    <li class="active">Услуга {% if service.title %}&laquo;{{ service.title }}&raquo;{% else %} #{{ service.id }}{% endif %}</li>
{% endblock %}

{% block breacrumbs_buttons %}
    <li>
        {% if service.enabled %}
            <a class=""
               href="{% url 'ns_adminka:ns_services:active' service.id 'disable' %}">
                <i class="icon-eye3"></i> Включена
            </a>
        {% else %}
            <a class=""
               href="{% url 'ns_adminka:ns_services:active' service.id 'enable' %}">
                <i class="icon-eye-blocked2 text-muted"></i> <span class="text-muted">Скрыта</span>
            </a>
        {% endif %}
    </li>
    <li><a class="" data-toggle="modal" role="button" href="#service2delete"><i class="icon-remove2"></i> Удалить</a></li>
{% endblock %}

{% block middle %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".styled, .multiselect-container input").uniform({
                radioClass: 'choice',
                fileDefaultHtml: 'Выберите файл .jpg или .png',
                selectAutoWidth: false
            });

            $(".validate").validate({
                rules: {
                    slide_title: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },
                messages: {
                    slide_title:{
                        required: "Это поле обязательно для заполнения",
                        minlength: "Минимальное число символов - 3",
                        maxlength: "Максимальное число символов - 20"
                     }
                },
                success: function(label) {
                    label.text('Корректно').addClass('valid');
                }
            });

            $(".editor").ckeditor();
        });
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-image2"></i> Слайд</h6>
                    <button class="btn btn-xs btn-default pull-right" type="submit"
                            onClick='$("#service_form").submit(); return false'>
                        <i class="icon-disk"></i> Сохранить
                    </button>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal validate" role="form" enctype="multipart/form-data"
                          action="{% url 'ns_adminka:ns_services:crud' service.id 'update' %}" method="POST"
                          id="service_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Название: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="service_title" class="required form-control" placeholder="Введите название услуги" value="{% if service.title %}{{ service.title }}{% endif %}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Текст: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <textarea id="faq_answer" name="service_text" class="editor required" placeholder="Введите текст услуги...">{% if service.text %}{{ service.text }}{% endif %}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if pics %}
            <div class="mb35">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Изображение</th>
                            <th>Управление</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pics %}
                        <tr>
                            <td>{{ p.position }}</td>
                            <td>
                                {% thumbnail p.image '170x120' crop="smart" as thumb %}
                                <img class="thumbnail thumbnail-boxed"
                                     width="{{ thumb.width }}"
                                     height="{{ thumb.height }}"
                                     src="{{ thumb.url }}" />
                            </td>
                            <td>
                                <div class="table-controls">
                                    {% if forloop.first and forloop.last %}
                                    {% else %}
                                        {% if forloop.first %}
                                            <a class="btn btn-primary btn-xs btn-icon tip mr34"
                                               href="{% url 'ns_adminka:ns_services:image' service.id p.id 'posinc' %}"
                                               data-original-title="Вниз"><i class="icon-arrow-down"></i></a>
                                        {% elif forloop.last %}
                                            <a class="btn btn-primary btn-xs btn-icon tip mr34"
                                               href="{% url 'ns_adminka:ns_services:image' service.id p.id 'posdec' %}"
                                               data-original-title="Вверх"><i class="icon-arrow-up"></i></a>
                                        {% else %}
                                            <a class="btn btn-primary btn-xs btn-icon tip"
                                               href="{% url 'ns_adminka:ns_services:image' service.id p.id 'posinc' %}"
                                               data-original-title="Вниз"><i class="icon-arrow-down"></i></a>
                                            <a class="btn btn-primary btn-xs btn-icon tip"
                                               href="{% url 'ns_adminka:ns_services:image' service.id p.id 'posdec' %}"
                                               data-original-title="Вверх"><i class="icon-arrow-up"></i></a>
                                        {% endif %}
                                    {% endif %}
                                    <a class="btn btn-primary btn-xs btn-icon tip"
                                       href="{% url 'ns_adminka:ns_services:image' service.id p.id 'delete' %}"
                                       data-original-title="Удалить"><i class="icon-remove"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-images"></i> Изображения</h6>
                    <button class="btn btn-xs btn-default pull-right" type="submit"
                            onClick='$("#image_upload_form").submit(); return false'>
                        <i class="icon-disk"></i> Добавить
                    </button>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal validate" role="form" enctype="multipart/form-data"
                          action="{% url 'ns_adminka:ns_services:image' service.id 0 'insert' %}" method="POST"
                          id="image_upload_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Файл:</label>
                            <div class="col-sm-10">
                                <input type="file" name="service_image" class="styled form-control" placeholder="Выберите изображение"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Small modal -->
    <div id="service2delete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-remove2"></i> Удаление</h4>
                </div>

                <div class="modal-body with-padding">
                    <p>Вы уверены, что хотите удалить эту услугу?</p>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'ns_adminka:ns_services:crud' service.id 'delete' %}">Удалить</a>
                    <button class="btn btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /small modal -->
{% endblock %}