{% extends "adminka_index.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Слайд #{{ slide.position }}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/plugins/forms/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/additional-methods.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
{% endblock %}

{% block adminka_menu %}{% include 'adminka_menu.html' with active='home' %}{% endblock %}

{% block page_name %}Слайд #{{ slide.position }}{% endblock %}
{% block page_info %}Слайдер главной страницы{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'ns_adminka:adhome' %}">Главная</a></li>
    <li class="active">Слайдер - Слайд #{{ slide.position }}</li>
{% endblock %}

{% block breacrumbs_buttons %}
    <li>
        {% if slide.enabled %}
            <a class=""
               href="{% url 'ns_adminka:ns_frontpage:slide_active' slide.id 'disable' %}">
                <i class="icon-eye3"></i> Включен
            </a>
        {% else %}
            <a class=""
               href="{% url 'ns_adminka:ns_frontpage:slide_active' slide.id 'enable' %}">
                <i class="icon-eye-blocked2 text-muted"></i> <span class="text-muted">Скрыт</span>
            </a>
        {% endif %}
    </li>
    <li><a class="" data-toggle="modal" role="button" href="#slide2delete"><i class="icon-remove2"></i> Удалить</a></li>
{% endblock %}

{% block middle %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".styled, .multiselect-container input").uniform({
                radioClass: 'choice',
                fileDefaultHtml: 'Выберите файл .jpg или .png',
                selectAutoWidth: false
            });

            $(".validate").validate({
                rules: {
                    slide_title: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },
                messages: {
                    slide_title:{
                        required: "Это поле обязательно для заполнения",
                        minlength: "Минимальное число символов - 3",
                        maxlength: "Максимальное число символов - 20"
                     }
                },
                success: function(label) {
                    label.text('Корректно').addClass('valid');
                }
            });
        });
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title"><i class="icon-image2"></i> Слайд</h6>
                    <button class="btn btn-xs btn-default pull-right" type="submit"
                            onClick='$("#image_upload_form").submit(); return false'>
                        <i class="icon-disk"></i> Сохранить
                    </button>
                    {% if slide.image %}
                    <a class="btn btn-xs btn-danger pull-right" type="submit"
                       href="{% url 'ns_adminka:ns_frontpage:slide_crud' slide.id 'clear' %}">
                        <i class="icon-close"></i> Удалить изображение
                    </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <form class="form-horizontal validate" role="form" enctype="multipart/form-data"
                          action="{% url 'ns_adminka:ns_frontpage:slide_crud' slide.id 'update' %}" method="POST"
                          id="image_upload_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Название: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="slide_title" class="required form-control" placeholder="Введите название слайда" value="{% if slide.title %}{{ slide.title }}{% endif %}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Файл:</label>
                            <div class="col-sm-10">
                                <input type="file" name="slide_image" class="styled form-control" placeholder="Выберите изображение"/>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <label class="col-sm-2 control-label text-right">Изображение:</label>
                            <div class="col-md-10">
                                {% if slide.image %}
                                    {% thumbnail slide.image '170x120' crop="smart" as thumb %}
                                    <img class="thumbnail thumbnail-boxed"
                                         width="{{ thumb.width }}"
                                         height="{{ thumb.height }}"
                                         src="{{ thumb.url }}" />
                                {% else %}
                                    <img class="thumbnail thumbnail-boxed"
                                         width="170"
                                         height="120"
                                         src="{{ STATIC_URL }}images/no_image.png" />
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Small modal -->
    <div id="slide2delete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-remove2"></i> Удаление</h4>
                </div>

                <div class="modal-body with-padding">
                    <p>Вы уверены, что хотите удалить этот слайд?</p>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'ns_adminka:ns_frontpage:slide_crud' slide.id 'delete' %}">Удалить</a>
                    <button class="btn btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /small modal -->
{% endblock %}