<!-- PHONE : begin -->
<li>
    <div class="item-inner">
        <i class="ico fa fa-phone"></i>
        <strong>{{ contacts.phone }}</strong>
    </div>
</li>
<!-- PHONE : end -->

<!-- EMAIL : begin -->
<li>
    <div class="item-inner">
        <i class="ico fa fa-envelope-o"></i>
        <a href="#">hello@beautyspot.com</a>
    </div>
</li>
<!-- EMAIL : end -->

<!-- ADDRESS : begin -->
<li>
    <div class="item-inner">
        <i class="ico fa fa-map-marker"></i>
        <strong>BEAUTYSPOT</strong><br>
        9015 Sunset Boulevard<br>
        Ca 90069
    </div>
</li>
<!-- ADDRESS : end -->

<!-- HOURS : begin -->
<li>
    <div class="item-inner">
        <i class="ico fa fa-clock-o"></i>
        <dl>
            <dt>Mo. - Fr.:</dt>
            <dd>10:00 - 16:00</dd>
            <dt>Sa.:</dt>
            <dd>10:00 - 14:00</dd>
            <dt>Su.:</dt>
            <dd>Closed</dd>
        </dl>
    </div>
</li>
<!-- HOURS : end -->