{% extends "index.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Главная{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script><!-- Carousel -->
{% endblock %}

{% block main_menu %}{% include 'main_menu.html' with l1_active='frontpage' l2_active='none' %}{% endblock %}

{% block before_core %}
    <script type="text/javascript">
    $(document).ready(function(){
        if ( $.fn.owlCarousel ) {
            $( '#main-slider' ).each(function(){

                var slider = $(this),
                slide_list = slider.find( '.slide-list' ),
                slide_count = slide_list.find( '> .slide' ).length,
                slides = slide_list.find( '> .slide' ),
                interval = slider.data( 'interval' ) ? parseInt( slider.data( 'interval' ) ) : false;

                if ( slide_count > 1 ) {

                    // CREATE CAROUSEL
                    slide_list.owlCarousel({
                        autoPlay: interval,
                        loop: true,
                        slideSpeed: 500,
                        pagination: false,
                        paginationSpeed : 400,
                        singleItem: true,
                        addClassActive: true,
                        autoHeight: false,
                        beforeMove: function(){
                            // REFRESH INDICATOR
                            if ( interval ) {
                                slider.find( '.slider-indicator > span' ).stop( 0, 0 );
                            }
                        },
                        afterMove: function(){
                            // REFRESH INDICATOR
                            if ( interval && mediaQueryBreakpoint > 991 ) {
                                slider.find( '.slider-indicator > span' ).css( 'width', 0 );
                                if ( ! slider.hasClass( 'm-paused' ) ) {
                                    slider.find( '.slider-indicator > span' ).stop( 0, 0 ).animate({ width : "100%" }, interval );
                                }
                            }
                        },
                        afterAction: function(){
                            var active_index = slide_list.find( '.owl-item.active' ).index();
                            slider.find( '.slider-nav ul > li.m-active' ).removeClass( 'm-active' );
                            slider.find( '.slider-nav ul > li:eq(' + active_index + ')' ).addClass( 'm-active' );
                        }
                    });

                    // CREATE NAVIGATION
                    var label,
                    nav = '<div class="slider-nav"><div class="container"><ul>';
                    for ( var i = 0; i < slide_count; i++ ) {
                        if ( slides.eq( i ).data( 'label' ) ) {
                            label = slides.eq( i ).data( 'label' );
                        }
                        else {
                            label = i;
                        }
                        nav += '<li><button>' + label + '</button></li>';
                    }
                    nav += '</ul></div></div>';
                    slide_list.append( nav );
                    var slider_nav = slider.find( '.slider-nav' );
                    slider_nav.find( 'ul > li:first-child' ).addClass( 'm-active' );

                    // NAVIGATION CLICK
                    slider_nav.find( 'button' ).each(function(){
                        var $this = $(this),
                        this_index = $this.parent().index();
                        $this.click(function(){
                            if ( ! $(this).parent().hasClass( 'm-active' ) ) {
                                slide_list.trigger( 'owl.goTo', this_index );
                            }
                        });
                    });

                    // AUTO SLIDE INDICATOR
                    if ( interval ) {

                        // CREATE
                        slider.addClass( 'm-has-indicator' );
                        slider.append( '<div class="slider-indicator"><span></span></div>' );

                        // INITIAL ANIMATION
                        slider.find( '.slider-indicator > span' ).animate({
                            width : "100%"
                        }, interval, 'linear' );



                    }

                }

            });
        }
    });
    </script>
    <!-- MAIN SLIDER : begin -->
    <div id="main-slider" class="m-has-hover-stop mb0" data-interval="8000">
        <div class="slide-list">
            {% for s in slides %}
            <!-- SLIDE {{ forloop.counter }} : begin -->
            <div class="slide m-bg-align-left" data-label="{{ s.title }}" style="background-image: url( 'media/{{ s.image }}' );">
                <div class="slide-bg">
                    <div class="container">
                        <div class="slide-inner">
                            <div class="slide-content various-content textalign-left valign-middle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SLIDE {{ forloop.counter }} : end -->
            {% endfor %}
        </div>
    </div>
    <!-- MAIN SLIDER : end -->

    {% if banner %}
	<section>
        <div style="max-width: 1400px;">
            <img alt="" class="" src="media/{{ banner.image }}">
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block core_class %}{% endblock %}

{% block core %}
    {% if adverts %}
    <script type="text/javascript">
    $(document).ready(function(){
        if ($.fn.lsvrCarousel){
            $( '.c-service-list' ).each(function(){
                $(this).lsvrCarousel();
            });
        }

        if ( $.fn.owlCarousel ) {
		$( '.c-service-list.m-paginated' ).each(function(){

			var $this = $(this),
			itemList = $this.find( '.service-list-inner' ),
			items = $this.data( 'items' ) ? parseInt( $this.data( 'items' ) ) : 4,
			itemsDesktop = $this.data( 'items-desktop' ) ? parseInt( $this.data( 'items-desktop' ) ) : 4,
			itemsDesktopSmall = $this.data( 'items-desktop-small' ) ? parseInt( $this.data( 'items-desktop-small' ) ) : 3,
			itemsTablet = $this.data( 'items-tablet' ) ? parseInt( $this.data( 'items-tablet' ) ) : 2,
			itemsMobile = $this.data( 'items-mobile' ) ? parseInt( $this.data( 'items-mobile' ) ) : 1;

			// CAROUSEL
			itemList.owlCarousel({
				autoPlay: false,
				slideSpeed: 300,
				pagination: true,
				paginationSpeed : 400,
				singleItem: false,
				addClassActive: true,
				autoHeight: true,
				items : items,
				itemsDesktop : [1199,itemsDesktop],
				itemsDesktopSmall : [979,itemsDesktopSmall],
				itemsTablet: [768,itemsTablet],
				itemsMobile: [479,itemsMobile]
			});

			// HOVER
			$this.hover(function(){
				$this.addClass( 'm-hover' );
			}, function(){
				$this.removeClass( 'm-hover' );
			});

		});
	}
    });
    </script>
    <div class="section">
        <!-- SECTION HEADER : begin -->
        <header>
            <div class="container">
                <h2>Самое популярное</h2>
            </div>
        </header>
        <!-- SECTION HEADER : end -->

        <!-- SERVICE LIST : begin -->
        <div class="c-service-list m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
            <div class="container">
                <div class="service-list-inner">
                    {% for adv in adverts %}
                    <div class="service-list-item">

                        <!-- SERVICE : begin -->
                        <div class="c-service">
                            <div class="service-image">
                                <a href="{{ adv.link }}">
                                    {% thumbnail adv.image '240x240' crop="smart" as thumb %}
                                    <img class="thumbnail thumbnail-boxed"
                                         src="{{ thumb.url }}" />
                                </a>
                            </div>
                            <h3 class="service-title"><a href="{{ adv.link }}">{{ adv.title }}</a></h3>
                            <div class="service-description">
                                <p>{{ adv.text }}</p>
                            </div>
                        </div>
                        <!-- SERVICE : end -->

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- SERVICE LIST : end -->
    </div>
    {% endif %}
{% endblock %}