<!-- SERVICES SECTION : begin -->
<section>

    <!-- SECTION HEADER : begin -->
    <header>
        <div class="container">
            <h2>Our Services</h2>
            <p class="subtitle">We offer a wide range of beauty services</p>
            <p class="more"><a href="services.html" class="c-button m-type-2">See all Services</a></p>
        </div>
    </header>
    <!-- SECTION HEADER : end -->

    <!-- SERVICE LIST : begin -->
    <div class="c-service-list m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
        <div class="container">
            <div class="service-list-inner">
                <div class="service-list-item">

                    <!-- SERVICE : begin -->
                    <div class="c-service">
                        <div class="service-image">
                            <a href="services.html#cosmetics"><img src="images/service_01.jpg" alt=""></a>
                        </div>
                        <h3 class="service-title"><a href="services.html#cosmetics">Cosmetics</a></h3>
                        <div class="service-description">
                            <p>Facials, Eyebrow & Eyelashes, Microdermabrasion, Acne Treatments, Anti-Aging</p>
                        </div>
                    </div>
                    <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                    <!-- SERVICE : begin -->
                    <div class="c-service">
                        <div class="service-image">
                            <a href="services.html#hairdressing"><img src="images/service_02.jpg" alt=""></a>
                        </div>
                        <h3 class="service-title"><a href="services.html#hairdressing">Hairdressing</a></h3>
                        <div class="service-description">
                            <p>Wash, Cut & Finish, Blow Dries, Hair Colouring & Highlights, Evening Hairdressing</p>
                        </div>
                    </div>
                    <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                    <!-- SERVICE : begin -->
                    <div class="c-service">
                        <div class="service-image">
                            <a href="services.html#body-treatments"><img src="images/service_03.jpg" alt=""></a>
                        </div>
                        <h3 class="service-title"><a href="services.html#body-treatments">Body Treatments</a></h3>
                        <div class="service-description">
                            <p>Body Wraps, Body Exfoliation Treatments, Cellulite Treatments, Lipo Laser, Depilation</p>
                        </div>
                    </div>
                    <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                    <!-- SERVICE : begin -->
                    <div class="c-service">
                        <div class="service-image">
                            <a href="services.html#massages"><img src="images/service_04.jpg" alt=""></a>
                        </div>
                        <h3 class="service-title"><a href="services.html#massages">Massages</a></h3>
                        <div class="service-description">
                            <p>Exotic Massages, Swedish Massage, Hot Stone Massage, Aromatherapy Massage</p>
                        </div>
                    </div>
                    <!-- SERVICE : end -->

                </div>
                <div class="service-list-item">

                    <!-- SERVICE : begin -->
                    <div class="c-service">
                        <div class="service-image">
                            <a href="services.html"><img src="images/service_05.jpg" alt=""></a>
                        </div>
                        <h3 class="service-title"><a href="services.html">Nails</a></h3>
                        <div class="service-description">
                            <p>Nail Art, Paraffin Wax Treatment, Shellac Manicure, Gel Nails, French Manicure</p>
                        </div>
                    </div>
                    <!-- SERVICE : end -->

                </div>
            </div>
        </div>
    </div>
    <!-- SERVICE LIST : end -->

</section>
<!-- SERVICES SECTION : end -->