{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DEFAULT{% endblock %} | {{ contacts.brand }}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- GOOGLE FONTS : begin -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700%7cMontserrat:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- GOOGLE FONTS : end -->

    <!-- STYLESHEETS : begin -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skin/coral.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/marginpadding.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!-- STYLESHEETS : end -->

    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/oldie.css'%}">
        <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.ba-outside-events.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.custom.min.js' %}" ></script>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- HEADER : begin -->
    <header id="header" class="m-animated">
        <div class="header-bg">
            <div class="header-inner">

                <!-- HEADER BRANDING : begin -->
                <div class="header-branding">
                    <a href="{% url 'home' %}"><img width="350" src="{% static 'img/logo_copied.png' %}" alt="Название нашей компании &mdash; студия эпиляции сахаром"></a>
                </div>
                <!-- HEADER BRANDING : end -->

                <!-- HEADER NAVIGATION : begin -->
                <div class="header-navigation">
                    <!-- HEADER MENU : begin -->
                    <nav class="header-menu">
                        <button class="header-menu-toggle" type="button"><i class="fa fa-bars"></i>MENU</button>
                        <ul>
                        {% block main_menu %}
                            {% include 'main_menu.html' with l1_active='none' l2_active='none' %}
                        {% endblock %}
                        </ul>
                    </nav>
                    <!-- HEADER MENU : end -->
                </div>
                <!-- HEADER NAVIGATION : end -->

                <!-- HEADER PANEL : begin -->
                <div class="header-panel">
                    <button class="header-panel-toggle" type="button"><i class="fa"></i></button>

                    <div class="header-reservation"><a href="#"></a></div>

                    <!-- HEADER CONTACT : begin -->
                    <div class="header-contact">
                        <ul>
                            <!-- PHONE : begin -->
                            <li>
                                <div class="item-inner">
                                    <i class="ico fa fa-phone"></i>
                                    <strong>{{ contacts.phone }}</strong>
                                </div>
                            </li>
                            <!-- PHONE : end -->

                            <!-- EMAIL : begin -->
                            <li>
                                <div class="item-inner">
                                    <i class="ico fa fa-envelope-o"></i>
                                    <a href="#">{{ contacts.email }}</a>
                                </div>
                            </li>
                            <!-- EMAIL : end -->

                            <!-- ADDRESS : begin -->
                            <li>
                                <div class="item-inner">
                                    <i class="ico fa fa-map-marker"></i>
                                    <strong>{{ contacts.brand }}</strong><br>
                                    {{ contacts.address }}
                                </div>
                            </li>
                            <!-- ADDRESS : end -->

                            <!-- HOURS : begin -->
                            <li>
                                <div class="item-inner">
                                    <i class="ico fa fa-clock-o"></i>
                                    <dl>
                                        <dt>Пн. - Пт.:</dt>
                                        <dd>{{ contacts.weekdays }}</dd>
                                        <dt>Сб. - Вс.:</dt>
                                        <dd>{{ contacts.weekend }}</dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- HOURS : end -->
                        </ul>
                    </div>
                    <!-- HEADER CONTACT : end -->
                </div>
                <!-- HEADER PANEL : end -->
            </div>
        </div>
    </header>
    <!-- HEADER : end -->

    <!-- WRAPPER : begin -->
    <div id="wrapper">
        {% block before_core %}{% endblock %}
        <!-- CORE : begin -->
        <div id="core" class="{% block core_class %}{% endblock %}">
            {% block page-header %}{% endblock %}

            <!-- PAGE CONTENT : begin -->
            <div class="container">
                <div id="page-content">
                    <div class="various-content">
                    {% block core %}{% endblock %}
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT : end -->
        </div>
        <!-- CORE : end -->

        <!-- FOOTER : begin -->
        <footer id="footer">
            <div class="container">
                <!-- FOOTER BOTTOM : begin -->
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- FOOTER TEXT : begin -->
                            <div class="footer-text">
                                <p>{{ contacts.brand }}</p>
                            </div>
                            <!-- FOOTER TEXT : end -->
                        </div>
                    </div>
                </div>
                <!-- FOOTER BOTTOM : end -->
            </div>
        </footer>
        <!-- FOOTER : end -->
    </div>
    <!-- WRAPPER : end -->

    <!-- SCRIPTS : begin -->
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ba-outside-events.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <!-- SCRIPTS : end -->
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32916210 = new Ya.Metrika({ id:32916210, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32916210" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>