<form action="#" class="breadcrumb-search">
    <input type="text" placeholder="Введите запрос..." name="search" class="form-control autocomplete">
    <div class="row">
        <div class="col-xs-5">
            <label class="radio">
                <input type="radio" name="search-option" class="styled" checked="checked">Везде
            </label>
            <label class="radio">
                <input type="radio" name="search-option" class="styled">Продукция
            </label>
            <label class="radio">
                <input type="radio" name="search-option" class="styled">Термины
            </label>
        </div>

        <div class="col-xs-7">
            <label class="radio">
                <input type="radio" name="search-option" class="styled">Классификаторы
            </label>
            <label class="radio">
                <input type="radio" name="search-option" class="styled">Предприятия
            </label>
            <label class="radio">
                <input type="radio" name="search-option" class="styled">Определения
            </label>
        </div>
    </div>

    <input type="submit" class="btn btn-block btn-success" value="Найти">
</form>